@import url(assets/css/font.css);
@import url(assets/css/index.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(21, 14, 2);
}
/* ========== HEADER ========== */

header img{
    width: 2.5rem;
}
header{
    background: rgba(0, 0, 0, 0.61);
    border-bottom: 1px solid rgba(255, 255, 255, 0.427);
    display: flex;
    color: white;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(6px);
    z-index: 1000;
}
header nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
}
header h1{
    gap: 15px;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    font-family: poppins;
    font-weight: 200;
}
header ul{
    display: flex;
    list-style: none;
    font-family: centurylight;
    gap: 20px;
}
header a{
    text-decoration: none;
    color: white;
}
