@import url(font.css);
body{
    -webkit-tap-highlight-color: transparent;
}
section.hero{
    width: 100%;
    height: 95dvh;
    background-image: url(../img/hero.png);
    background-size: cover;
    background-position: right;
    display: flex;
    align-items: start;
    color: white;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
}
.hero h1{
    font-size: 3rem;
    font-family: poppins;
    line-height: 50px;
}
.hero p{
    font-family: poppins;
    font-size: 1.8rem;
}
.hero button{
    margin-top: 30px;
    background-color: transparent;
    outline: 1px solid white;
    border-radius: 100rem;
    color: white;
    font-family: poppins;
    padding: 10px 50px;
    font-size: 1.4rem;
    transition: .3s;
    border: none;
    cursor: pointer;
}
.hero button:hover{
    background-color: rgba(255, 255, 255, 0.205);
}
.hero h1 mark{
    background: rgb(255, 255, 255);
    line-height: 3rem;
    display: inline-block;
}
.fullscreen{
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fullscreen h1{
    margin-top: 40px;
    font-family: centurybold;
    font-size: 2.5rem;
}
.fav{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    gap: 90px;
}
.card{
    height: 18rem;
    width: 13rem;
    border-radius: 2rem;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.card img{
    height: 60%;
    width: 100%;
}
.card:hover{
    transform: scale(1.02);
    box-shadow: 0 0 13px 2px rgba(255, 255, 255, 0.073);
}
.card-block{
    width: 100%;
    height: 40%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: 0;
    border-end-end-radius: 2rem;
    border-end-start-radius: 2rem;
    font-family: centurylight;
    padding: 8px;
}
.card-block span{
    font-size: 0.8rem;
}
@media screen and (max-width:1000px){
    .hero h1{
        font-size: 1.8rem;
        line-height: 30px;
    }
    .hero p{
        font-size: 1.4rem
    }
    section.hero{
        padding: 10px;
    }
    .hero button{
        margin-top: 20px;
        padding: 10px 17px;
        transition: none;
    }
    .hero h1 mark{
        line-height: 2rem;
    }
    .fav{
        flex-direction: column;
    }
    header nav ul{
        display: none;
    }
    .fullscreen h1{
        font-size: 1.7rem;
    }
    .fav{
        margin-top: 50px;
    }
}